<div class="form-inline" action="">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label><input [(ngModel)]="filtroLista" type="text" class="form-control mr-2" placeholder="Buscar">
  </div>
</div> 
<!--<h3>Form:{{filtroLista}}</h3>-->
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button (click)="alternarImage()" class="btn btn-outline-primary">
         <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i> 
        {{mostrarImagem ? 'oculta'  : 'Mostrar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qta Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td >
        <div *ngIf="mostrarImagem">
            <img  src="http://localhost:5000/img/{{evento.imagemUrl}}" 
            [style.width.px]="imagemLargura"
            [style.margin.px]="imagemMargem">
        </div>
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
      <td>{{evento.qtaPessoas}}</td>
      <td>
        <div *ngIf="!evento.lotes.length">
          Não Informado!
        </div>
        <div *ngIf="evento.lotes.length">
          {{evento.lotes[0].nome | uppercase}}
        </div>
      </td>
      <td>
        <div class="btn-group" >
          <button class="btn btn-sm btn-warning" tooltip='edit' (click)="openModal(template)"><i class="fa fa-edit"></i></button>
          <button class="btn btn-sm btn-danger" tooltip='remove'><i class="fa fa-eraser"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nenhum evento agendado no momento
        </h4>
      </td>
    </tr>
  </tfoot>
</table>

<!--modal-->    
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>

